.imp-container {
    margin: -40px auto 50px;
    padding: 3px;
    background-color: #fff;
    border-radius: 3px;
}

.imp-heading {
    background-color: #5b3394;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    padding: 5px 30px;
    margin-bottom: 30px;
}

table{
    padding: 0px 30px;
    width: 95% !important;
    margin: 0px auto;
    border-radius: 3px;
}

.td-head{
    background-color: #e37d39 !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width:992px) {
    .table{
        overflow-x: scroll;
    }
}